.selected {
    border-left-width: 5px;
    border-left-style: solid;
    transition: border .3s;
}
.bannerList {
    :global {
        .ant-list-item-main {
            overflow: hidden;
        }
        .ant-list-item-meta-title {
           margin-block-end: 0!important; 
        }
    }
}