#root {
    height: 100%;
}

pre {
    font-size: 14px;
}

.ka-wrapper,
.ka-content {
    height: 100%;
    width: 100%;
    display: flex;
}

/* th.ant-table-cell {
    white-space: nowrap;
} */
.g6-grid-container {
    z-index: 0!important;
}