#root {
    height: 100%;
}

pre {
    font-size: 14px;
}

.ka-wrapper,
.ka-content {
    height: 100%;
    width: 100%;
    display: flex;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
    background-color: lightcoral;
  }
/* th.ant-table-cell {
    white-space: nowrap;
} */
.g6-grid-container {
    z-index: 0!important;
}
.crop-upload .ant-upload.ant-upload-select{
    width: 270px!important;
    height: 140px!important;
    img {
        height: 100%;
        object-fit: contain;
    }
}