#root {
    height: 100%;
}

pre {
    font-size: 14px;
}

/* .ka-wrapper,
.ka-content {
    height: 100%;
    width: 100%;
    display: flex;
} */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}
#editor—wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    z-index: 100; /* 按需定义 */
}
#toolbar-container {
    border-bottom: 1px solid #ccc;
}
#editor-container {
    height: 350px;
}
