.previewContainer {
    background-color: #fff;
    min-height: 100%;
    padding: 12px;
    color: rgba(0,0,0,0.88);
    img, video {
        max-width: 100%;
    }
}
.title, .subtitle {
    text-align: center;
}